--index-url https://mirrors.cloud.tencent.com/pypi/simple/
PyQt5>=5.15.9
adbutils>=2.12.0
opencv-python
numpy
Pillow
pytesseract
pyinstaller

# pyinstaller --noconfirm --onefile --windowed --name EvonyBot --icon Images/icon.ico --add-data "Images;Images" --add-data "ui/assets;ui/assets" --collect-all adbutils main.py

# -i https://pypi.org/simple/
# pip config --site set global.index-url https://mirrors.cloud.tencent.com/pypi/simple/